.modal-open, .modal-open .modal {
  box-sizing: content-box;
  width: 100%;
}

.logo {
  margin: rem-calc(10px) auto;
  max-width: 30%;
}

.lower {
  text-transform: lowercase;
}

.nyl-logo {
  stroke: $white 1px solid;
  height: rem-calc(43px);

  @include md-desktop-up {
    height: 100px;
  }
}

b, strong {
  font-weight: bolder;
}

.text-centered {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-white {
  color: $white;
}

.text-yellow {
  color: $lottery-yellow;
}

.text-teal {
  color: $teal;
}

.text-dark-blue {
  color: $dark-blue;
}

.text-gold {
  color: $gold;
}

.border-left {
  &.border-dark-blue {
    border-left: 2px solid $dark-blue;
  }
}

.bg-lottery-blue {
  background-color: $lottery-blue;
}

.bg-pale-blue {
  background-color: $pale-blue;
}

.bg-white {
  background-color: $white;
}

.no-overflow {
  overflow: hidden !important;
}

.text-bottom p {
  margin-top: rem-calc(9px);
  margin-bottom: 0;
}

.glyphicon-triangle-bottom, .glyphicon-triangle-top {
  font-size: 0.7em;
}

.glyphicon-triangle-left, .glyphicon-triangle-right {
  font-size: 0.8em;
}

.glyphicon-triangle-left {
  margin-right: rem-calc(2px);
}

.glyphicon-triangle-right {
  margin-left: rem-calc(2px);
}

.currency {
  font-size: 0.5em;
  line-height: 1.5em;
  vertical-align: text-top;
}

.square-left, .square-right {
  background: -moz-linear-gradient(top, $lottery-red 0%, $lottery-red 32%, $lottery-orange 33%, $lottery-orange 66%, $lottery-yellow 67%, $lottery-yellow 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, $lottery-red 0%, $lottery-red 32%, $lottery-orange 33%, $lottery-orange 66%, $lottery-yellow 67%, $lottery-yellow 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, $lottery-red 0%, $lottery-red 32%, $lottery-orange 33%, $lottery-orange 66%, $lottery-yellow 67%, $lottery-yellow 100%);
  height: rem-calc(80px);
  position: relative;
  width: rem-calc(100px);
  // transition: width 3s;
  -webkit-backface-visibility: hidden;

  @include sm-tablet-up {
    height: rem-calc(66px);
  }
}

.square-left {
  top: rem-calc(-120px);
  left: rem-calc(-10px);
  margin-left: rem-calc(-150px);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  transform-origin: 0 0;
  transform: rotate(15deg);
  z-index: 2;

  @include xs-mobile-up {
    top: rem-calc(-150px);
  }

  @include sm-tablet-up {
    top: -15vw;
    transform: rotate(7deg);
  }
}

.square-right {
  float: right;
  clear: both;
  margin-right: rem-calc(-150px);
  top: -30vw;
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  transform-origin: 100% 0;
  transform: rotate(-15deg);
  z-index: 5;

  @include xs-mobile-up {
    top: -25vw;
  }

  @include sm-tablet-up {
    top: -15vw;
    transform: rotate(-7deg);
  }
}

.ani1 {
  width: 200vw;
}

.ani {
  width: 94vw;
}

.white {
  width: rem-calc(112px);
  height: rem-calc(80px);
  position: absolute;
  top: rem-calc(-9px);

  @include sm-tablet-up {
    height: rem-calc(100px);
    width: rem-calc(125px);
    top: rem-calc(-11px);
  }
}

.left-brush, .right-brush {
  @extend .white;
  background: {
    position: top;
    repeat: no-repeat;
    size: 100%;
  }
}

.right-brush {
  background-image: url(../img/brush2.png);
  right: 0;
}

.left-brush {
  background-image: url(../img/brush.png);
  left: -111px;

  @include sm-tablet-up {
    left: -145px;
  }

  @include md-desktop-up {
    left: -195px;
  }

  @include lg-desktop {
    left: -240px;
  }
}

.modal-backdrop {
  display: none;
}

.no-padding {
  padding-right: 0;
  padding-left: 0;
}

.frame-container {
  @include sm-tablet-up {
    width: 50%;
  }
}

.frame {
  margin-bottom: rem-calc(15px);
  padding: rem-calc(10px);
  position: relative;

  &:after {
    background: {
      image: url(../img/frame.png);
      size: 100% 100%;
    }
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.plaque {
  display: inline-block;
  position: relative;

  &:before {
    background: {
      image: url(../img/plaque-hook&nail.png);
      position: top center;
      repeat: no-repeat;
      size: contain;
    }
    content: '';
    height: 13px;
    left: 50%;
    position: absolute;
    top: 0;
    @include prefixr(transform, translateX(-50%));
    width: 30px;
    z-index: 2;

    @include sm-tablet-up {
      top: 9px;
    }

    @include lg-desktop {
      top: 13px;
    }
  }

  .inner {
    background-color: $plaque-bg-color;
    box-shadow: inset 0 0 0 rem-calc(3px) $gold;
    display: inline-block;
    margin: rem-calc(16px) auto rem-calc(30px);
    outline: rem-calc(3px) solid $plaque-border-color;
    overflow: hidden;
    padding: rem-calc(10px) rem-calc(15px);
    position: relative;

    &:before, &:after {
      display: block;
    }

    &:after {
      @include prefixr(transform, skewY(17deg));
      background-color: rgba(255, 255, 255, 0.35);
      bottom: 66%;
      content: '';
      height: 100%;
      position: absolute;
      right: rem-calc(-3px);
      width: 110%;
    }

    > * {
      position: relative;
      z-index: 2;
    }
  }
}

a, a:focus, a:hover {
  text-decoration: none;
}